{% extends 'app/base.html' %}

{% load static %}
{% block content %}

    <main>
        <div class="section"></div>

        <h4 class="teal-text" style="text-align: center;">Agregar Item</h4>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4"
                 style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0 48px; border: 1px solid #EEE;">

                <form enctype="multipart/form-data" action="{% url 'registrarProducto' id %}" method="post">
                    {% csrf_token %}
                    {{ form.errors }}
                    {{ form.non_field_errors }}

                    <div class='row'>
                        <div class='input-field col s12'>
                            Nombre del producto:
                            <div class="input-field inline ">
                                {{ form.nombre.errors }}
                                {{ form.nombre }}
                                <label style="text-align: center" for='item'></label>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            Precio del producto:
                            <div class="input-field inline">
                                {{ form.precio.errors }}
                                {{ form.precio }}
                                <label style="text-align: center" for='precio'></label>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12'>
                            Stock del producto:
                            <div class="input-field inline">
                                {{ form.stock.errors }}
                                {{ form.stock }}
                                <label style="text-align: center" for='stock'></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='input-field col s12'>
                            <i class="material-icons">mode_edit</i> Descripción
                            {{ form.descripcion.errors }}
                            {{ form.descripcion }}
                        </div>
                    </div>

                    <!--div class="row">
                        Selecciona una imagen previa:
                    </div>
                    <div class="row">

                        <input class="with-gap" name="imagen_previa" type="radio" id="test1"/>
                        <label for="test1"><img style="max-width: 50px;" src="{% static "img/bread.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test2"/>
                        <label for="test2"><img style="max-width: 50px;" src="{% static "img/breakfast.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test3"/>
                        <label for="test3"><img style="max-width: 50px;" src="{% static "img/burger.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test4"/>
                        <label for="test4"><img style="max-width: 50px;" src="{% static "img/chicken.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test5"/>
                        <label for="test5"><img style="max-width: 50px;" src="{% static "img/chicken2.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test6"/>
                        <label for="test6"><img style="max-width: 50px;" src="{% static "img/chocolate.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test7"/>
                        <label for="test7"><img style="max-width: 50px;" src="{% static "img/coke.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test8"/>
                        <label for="test8"><img style="max-width: 50px;" src="{% static "img/cupcake.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test9"/>
                        <label for="test9"><img style="max-width: 50px;" src="{% static "img/donut.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test10"/>
                        <label for="test10"><img style="max-width: 50px;" src="{% static "img/jelly.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test11"/>
                        <label for="test11"><img style="max-width: 50px;" src="{% static "img/fish.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test12"/>
                        <label for="test12"><img style="max-width: 50px;" src="{% static "img/fries.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test13"/>
                        <label for="test13"><img style="max-width: 50px;" src="{% static "img/hot-dog.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test14"/>
                        <label for="test14"><img style="max-width: 50px;" src="{% static "img/icecream.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test15"/>
                        <label for="test15"><img style="max-width: 50px;" src="{% static "img/juice.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test16"/>
                        <label for="test16"><img style="max-width: 50px;" src="{% static "img/lettuce.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test17"/>
                        <label for="test17"><img style="max-width: 50px;" src="{% static "img/pizza.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test18"/>
                        <label for="test18"><img style="max-width: 50px;"
                                                 src="{% static "img/spaguetti.png" %}"></label>

                        <input class="with-gap" name="imagen_previa" type="radio" id="test19"/>
                        <label for="test19"><img style="max-width: 50px;" src="{% static "img/rice.png" %}"></label>
                    </div-->

                    <div class="row valign-wrapper" id="file-upload">
                        <div class="col s3">
                            <p class="center">Imagen del producto:</p>
                        </div>
                        {{ form.file.errors }}
                        {{ form.file }}
                        <!--div class="col s9">
                            <div class="dropify-wrapper touch-fallback">
                                <div class="dropify-message">
                                    <p class="center">
                                        <i class="material-icons center">mdi_file_cloud_upload</i>
                                    </p>
                                    <p class="center">Arrastre y suelte un archivo aquí o haga click</p>
                                    <p class="dropify-error center">Sorry, this file is too large</p>
                                </div>

                                <input type="file" id="input-file-now" class="dropify" data-default-file="">

                                <button type="button" class="dropify-clear">Remove</button>

                                <div class="dropify-preview"><span class="dropify-render"></span>
                                    <div class="dropify-infos">
                                        <div class="dropify-infos-inner">
                                            <p class="dropify-filename">
                                                <span class="dropify-filename-inner"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div-->
                    </div>

                    <div class='row'>
                        <button type="submit" class='col s5 offset-s4 btn btn-large waves-effect button teal'>
                            Agregar <i class="material-icons right">send</i>
                        </button>
                    </div>

                </form>
            </div>
        </div>


    </main>
{% endblock %}