{% extends 'app/base.html' %}

{% load static %}
{% block content %}

    <main>
        <div class="section"></div>

        <h4 class="teal-text" style="text-align: center;">Agregar Item</h4>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4"
                 style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0 48px; border: 1px solid #EEE;">

                <form enctype="multipart/form-data" action="{% url 'registrarProducto' id %}" method="post">
                    {% csrf_token %}

                    {{ form.errors }}
                    {{ form.non_field_errors }}

                    <div class='row'>
                        <div class='input-field col s12'>
                            Nombre del producto:
                            <div class="input-field inline ">
                                {{ form.nombre.errors }}
                                {{ form.nombre }}
                                <label style="text-align: center" for='item'></label>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            Precio del producto:
                            <div class="input-field inline">
                                {{ form.precio.errors }}
                                {{ form.precio }}
                                <label style="text-align: center" for='precio'></label>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12'>
                            Stock del producto:
                            <div class="input-field inline">
                                {{ form.stock.errors }}
                                {{ form.stock }}
                                <label style="text-align: center" for='stock'></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class='input-field col s12'>
                            <i class="material-icons">mode_edit</i> Descripción
                            {{ form.descripcion.errors }}
                            {{ form.descripcion }}
                        </div>
                    </div>

                    <div class="row" id="file-upload">
                        <div class="col s12">
                            <p>Imagen del producto:</p>
                            {{ form.file.errors }}
                            {{ form.file }}
                        </div>
                    </div>

                    <div class='row'>
                        <button type="submit" class='col s5 offset-s4 btn btn-large waves-effect button teal'>
                            Agregar <i class="material-icons right">send</i>
                        </button>
                    </div>

                </form>
            </div>
        </div>


    </main>
{% endblock %}