{% extends 'app/base.html' %}
{% block content %}

<script>
$(document).ready(function() {
    $('select').material_select();
});

</script>


<div class="section"></div>
  <main>
      <div class="section"></div>

      <h5 class="teal-text" style="text-align: center;">¡Regístrate!</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
            <h5 class="teal-text" style="text-align: center;">Vendedor Ambulante</h5>
          <form class="col s12 m12" method="post" action="{% url 'registrarAmbulante' %}">{% csrf_token %}
              {{ form.errors }}
              {{ form.non_field_errors }}
            <div class='row'>
              <div class='col s12 m12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12 m12'>
                  {{ form.nombre.errors }}
                  {{ form.nombre }}
                <label style="text-align: center" for='nombre'>Ingresa tu nombre</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12 m12'>
                  {{ form.email.errors }}
                  {{ form.email }}
                <label style="text-align: center" for='email'>Ingresa tu e-mail</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12 m12'>
                Seleccione sus formas de pago:
                      <p>
                          {{ form.efectivo }}{{ form.efectivo.label_tag }}
                          {{ form.efectivo.errors }}
                      </p>
                      <p>
                          {{ form.credito }}{{ form.credito.label_tag }}
                          {{ form.credito.errors }}
                      </p>
                      <p>
                          {{ form.debito }}{{ form.debito.label_tag }}
                          {{ form.debito.errors }}
                      </p>
                      <p>
                          {{ form.junaeb }}{{ form.junaeb.label_tag }}
                          {{ form.junaeb.errors }}
                      </p>

              </div>
            </div>

              <div>
                  Cambiar avatar:
              </div>

                <div class="col s12 l6">
                  <input class="with-gap" name="group1" type="radio" id="test1" />
                    {% load static %}
                  <label for="test1"><img style="max-width: 50px;" src="{% static "img/AvatarVendedor1.png" %}"></label>
                  <input class="with-gap" name="group1" type="radio" id="test2" />
                    {% load static %}
                  <label for="test2"><img style="max-width: 50px;" src="{% static "img/AvatarVendedor2.png" %}"></label>
                  <input class="with-gap" name="group1" type="radio" id="test3" />
                    {% load static %}
                  <label for="test3"><img style="max-width: 50px;" src="{% static "img/AvatarVendedor3.png" %}"></label>
                  <input class="with-gap" name="group1" type="radio" id="test4" />
                    {% load static %}
                  <label for="test4"><img style="max-width: 50px;" src="{% static "img/AvatarVendedor4.png" %}"></label>
                </div>


            <div class='row'>
              <div class='input-field col s12 m12'>
                  {{ form.password.errors }}
                  {{ form.password }}
                <label style="text-align: center" for='password'>Ingresa tu contraseña</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12 m12'>
                  {{ form.password2.errors }}
                  {{ form.password2 }}
                <label style="text-align: center" for='password2'>Repite tu contraseña</label>
              </div>
            </div>

              <div class='row'>
                <button type='submit' name='btn_login' class='col l6 offset-l3 btn btn-large waves-effect teal'>Registrarse</button>
              </div>

          </form>
        </div>
      </div>
        <div style="text-align: center;"><a class="grey-text"> ¿Ya tienes una cuenta? </a><a href="{% url 'login' %}">Inicia sesión</a></div>


    <div class="section"></div>
    <div class="section"></div>
  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
{% endblock %}