{% extends 'app/base.html' %}
{% block content %}

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });

    </script>


    <div class="section"></div>
    <main>
        <div class="section"></div>

        <h5 class="teal-text" style="text-align: center;">Registro: Seleccione tipo de usuario</h5>
        <div class="section"></div>

        <div name = "Fijo" class="container">
            <div class="z-depth-1 grey lighten-4 row" style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <div class='row'>
                    <a class='col s6 offset-s3 btn btn-large waves-effect teal' href="{% url 'registrarFijo' %}">Vendedor Fijo</a><br><br><br>
                    <a class='col s6 offset-s3 btn btn-large waves-effect teal' href="{% url 'registrarAmbulante' %}">Vendedor Ambulante</a><br><br><br>
                    <a class='col s6 offset-s3 btn btn-large waves-effect teal' href="{% url 'registrarAlumno' %}">Alumno</a><br><br><br>
                </div>
            </div>
        </div>
        <div style="text-align: center;"><a class="grey-text"> ¿Ya tienes una cuenta? </a></a><a href="{% url 'login' %}">Inicia sesión</a></div>


        <div class="section"></div>
        <div class="section"></div>
    </main>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
{% endblock %}