<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Ficha Vendedor (vista alumno) </title>

    <!-- import Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="">

<nav>
    <div class="nav-wrapper green darken-4">
        <a href="#" class="brand-logo left">App</a>
        <ul id="nav-mobile" class="right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </div>
</nav>

<div class="row"></div>

<div class="container">
    <div class="row">
        <!-- primera columna, foto e información -->
        <div class="col s12 l4">
            <div class="section center green darken-4 white-text">

                <div class="row section">
                    <img class="responsive-img circle col s8 offset-s1" src="/static/app/iconoUsuario.png">
                    <div class="row col s2">
                        <a class="btn-floating">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>
                </div>

                <div class="row">Juan Perez</div>

                <div class="row">
                    Formas de pago: <br>
                    Efectivo <br>
                    Tarjeta de Debito
                </div>

                <div class="row">
                    Horario de atención:<br>
                    10:00 - 22:00
                </div>

                <div class="row">
                    Favorito de: 14
                </div>
            </div>
        </div>


        <!-- segunda columna, menú -->
        <div class="col s12 l8">
            <h1 class="header center">Menú</h1>
        </div>
    </div>
</div>
</body>
</html>