<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Ficha Vendedor (vista alumno) </title>

    <!-- import Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="">

<nav>
    <div class="nav-wrapper green darken-4">
        <a href="#" class="brand-logo left">App</a>
        <ul id="nav-mobile" class="right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </div>
</nav>

<div class="row"></div>

<div class="container">
    <div class="row">
        <!-- primera columna, foto e información -->
        <div class="col s12 l4">

            <div class="row"></div>
            <div class="row"></div>

            <div class="section center green darken-4 white-text">

                <div class="row section">
                    <img class="responsive-img circle col s8 offset-s2" src="/static/app/iconoUsuario.png">
                </div>

                <div class="row">Juan Perez</div>

                <div class="row">
                    Formas de pago: <br>
                    Efectivo <br>
                    Tarjeta de Debito
                </div>

                <div class="row">
                    Horario de atención:<br>
                    10:00 - 22:00
                </div>

                <div class="row">
                    Favorito de: 14
                </div>

                <div class="row">
                    <div class="col s2 offset-s9">
                        <a class="btn-floating">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>
                </div>

            </div>
        </div>


        <!-- segunda columna, menú -->
        <div class="col s12 l8">

            <h1 class="header center">Menú</h1>

            <div class="row">
                <div class="col s12">
                    <div class="section valign-wrapper green darken-4 white-text">

                        <div class="col s2">
                            <img src="/static/app/iconoProducto.jpg" class="responsive-img circle">
                        </div>

                        <div class="col s4 valign-wrapper">
                            <div class="col s8">
                                lorem ipsum
                            </div>
                            <div class="col s4">
                                $2.990
                            </div>
                        </div>

                        <div class="col s4 center">
                            Stock: 40
                            <a class="btn-floating">
                                <i class="material-icons red">remove</i>
                            </a>
                        </div>

                        <div class="col s3">
                            editar
                            <a class="btn-floating">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="section valign-wrapper green darken-4 white-text">

                        <div class="col s2">
                            <img src="/static/app/iconoProducto.jpg" class="responsive-img circle">
                        </div>

                        <div class="col s4 valign-wrapper">
                            <div class="col s8">
                                dolor sit amet
                            </div>
                            <div class="col s4">
                                $2.990
                            </div>
                        </div>

                        <div class="col s4 center">
                            Stock: 40
                            <a class="btn-floating">
                                <i class="material-icons red">remove</i>
                            </a>
                        </div>

                        <div class="col s3">
                            editar
                            <a class="btn-floating">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="section valign-wrapper green darken-4 white-text">

                        <div class="col s2">
                            <img src="/static/app/iconoProducto.jpg" class="responsive-img circle">
                        </div>

                        <div class="col s4 valign-wrapper">
                            <div class="col s8">
                                consectetur adipiscing
                            </div>
                            <div class="col s4">
                                $2.990
                            </div>
                        </div>

                        <div class="col s4 center">
                            Stock: 40
                            <a class="btn-floating">
                                <i class="material-icons red">remove</i>
                            </a>
                        </div>

                        <div class="col s3">
                            editar
                            <a class="btn-floating">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="section valign-wrapper green darken-4 white-text">

                        <div class="col s2">
                            <img src="/static/app/iconoProducto.jpg" class="responsive-img circle">
                        </div>

                        <div class="col s4 valign-wrapper">
                            <div class="col s8">
                                sed do eiusmod
                            </div>
                            <div class="col s4">
                                $2.990
                            </div>
                        </div>

                        <div class="col s4 center">
                            Stock: 40
                            <a class="btn-floating">
                                <i class="material-icons red">remove</i>
                            </a>
                        </div>

                        <div class="col s3">
                            editar
                            <a class="btn-floating">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="valign-wrapper">

                        <div class="col s4 offset-s4 center green darken-4 white-text">
                            <div class="section">
                                <a class="btn-floating">
                                    <i class="material-icons green">add</i>
                                </a>
                                Agregar Item
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>